.col-lg-4.busqueda
{
padding-top : 20px;
}
.volver-atras
{

	padding: 0px 0px;
	background: #333333;
	border-radius: 5px 0px 0px 50px;
	font-weight: 300;
}

a.fill-div {
	  color: #9d9d9d;
    display: block;
    height: 100%;
    width: 100%;
		text-align: center;
}

.volver-atras a:hover{
color: white;
text-decoration: none;
}
.resaltar-div
{
	padding: 30px 20px;
	border: 5px white solid;
	text-align: center;
	font-weight: 700;
	border-radius: 60px;
	margin: 25px 0px;
}

.rojo-negro
{
background: #e0ebc2;
color: #000000;
font-size: 30px;
}
.naranjita-negro
{
background: #f9b966;
color: #000000;
font-size: 30px;
}
.beige-negro
{
background: #dddd95;
color: #000000;
font-size: 30px;
}
.gris-grisblanco
{
background: #333333;
color: #e8e8e7;
font-size: 30px;
}
.verde-negro
{
background: #5fb677;
color: #000000;
font-size: 30px;
}
.celeste-negro
{
background: #a1cca5;
color: #000000;
font-size: 30px;
}
.azul-blanco
{
background: #142b3b;
color: #ece9cb;
font-size: 30px;
}

.resaltar-div a{
color: #e0ebc2;
}
.resaltar-div a:hover{
color: black;
text-decoration: none;
}

.blue { background: blue }
.grey { background: grey }
.chats-row { height: 100vh; }
.chats-row div {
    height: 50%;
    border: 1px solid #ddd;
    padding: 0px;
}

.list-group-item {
    border: none;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;

}
.list-group-item:first-child {
    border-top: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}


.current-chat {
    height: 100vh;
    border: 1px solid #ddd;
}

.chat-toolbar-row {
    background-color: #f5f5f5;
}

.chat-toolbar {
    margin-top: 10px;
    margin-bottom: 10px;
}

.current-chat-area {
    padding-top: 10px;
    overflow: auto;
    height: 85vh;
}

.current-chat-footer {
    position: absolute;
    bottom: 0;

}
.icono-mensaje
{
	background-color: antiquewhite;
	padding: 10px 10px;	
	border-radius: 50px 50px;
	margin-right: 5px;
}
